.loader {
  width: 20px;
  margin: 0 auto;
  display: block;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}
.form-container {
  margin-bottom: 20px;
  .width {
    width: 50%;
  }
}
.form-action {
  padding: 20px 0;
}
.time-list {
  position: relative;
  height: calc(540px * 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .container-to-event {
    position: absolute;
    top:0;
    left: 45px;
    right: 0;
    bottom: 0;
    z-index: 1;
    .event {
      background-color: #E2ECF5;
      border-left: 3px solid #6E9ECF;
      position: absolute;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.time-space {
  border-top: 1px solid black;
  padding-left: 45px;
  position: relative;
}
.time {
  position: absolute;
  top: 0;
  left: 0;
}
