@font-face {
  font-family: 'orange juice';
  src: url('src/assets/fonts/orangejuice.woff2') format('woff2'),
      url('src/assets/fonts/orangejuice.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}